.desktop-icon {
  width: 80px;
  text-align: center;
  color: white;
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.1s ease;
}

.desktop-icon:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.desktop-icon .icon {
  font-size: 48px;
}

.desktop-icon .label {
  margin-top: 5px;
  font-size: 14px;
}
